@color-background: #EEF6FB;
@color-accent: #5FB0E8;
@color-text: #333339;
@color-border: #FFFFFF;
@color-danger: #FF0000;
@spacing: 8px;
@border-radius: @spacing;

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Teko;
  src: url("../fonts/Teko-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

body, #root {
  min-height: 100vh;
  background: @color-background;
  color: @color-text;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
}

.forecast {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: @spacing;
  background-color: @color-border;
  border: @spacing solid @color-border;
  border-radius: calc(@border-radius * 2);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  & > :first-child {
    grid-column: 1/-1;
  }
}

.forecast__card {
  display: grid;
  grid-template-areas: 
    "day day"
    "icon temperature"
    "icon description";
  gap: @spacing;
  justify-content: center;
  background-color: @color-background;
  border-radius: @border-radius;
  padding: @spacing;
  .forecast__info {
    display: flex;
    align-items: center;
    justify-content: center;
    &.forecast__info--day {
      grid-area: day;
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      font-size: 50px;
    }
    &.forecast__info--icon {
      grid-area: icon;
      img {
        width: 100%;
        max-width: 200px;
      }
    }
    &.forecast__info--temperature {
      grid-area: temperature;
      font-family: 'Teko', sans-serif;
      font-weight: 400;
      font-size: 152px;
      &::after {
        content: "°";
      }
    }
    &.forecast__info--description {
      grid-area: description;
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      font-size: 50px;
    }
  }
}

.forecast__card--small {
  grid-template-areas: 
    "day"
    "icon"
    "temperature";
  .forecast__info {
    &.forecast__info--day {
      font-size: 40px;
    }
    &.forecast__info--icon {
      max-width: 150px;
    }
    &.forecast__info--temperature {
      font-size: 64px;
    }
    &.forecast__info--description {
      display: none;
    }
  }
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 32px 0;
  display: flex;
  justify-content: space-evenly;
  li.nav__item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 52px;
    cursor: pointer;
    &:hover {
      color: @color-accent;
    }
    &.nav__item--active {
      font-weight: 700;
      color: @color-accent;
    }
  }
}

.error,
.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  row-gap: @spacing;
}

.error {
  .error__code {
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 64px;
    letter-spacing: 1px;
    color: @color-danger;
  }
  .error__message {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
  }
}

.loader {
  .loader__icon {
    background-image: url('../images/loader.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000000;
    border-radius: 100%;
    width: 200px;
    height: 200px;
  }
  .loader__message {
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 1px;
  }
}